Repository etalab/dashboard-aides-entreprises, pull requests merged in 2020-05, with the labels that each got.

#57 Julien/polygonscolors
  frontend/configs/dev/appConfigMap.js
  frontend/nuxt.config.js
Labels: enhancement, front

#56 first test on coherent colors for apexchart
  frontend/VERSIONS.md
  frontend/components/DataViews/ApexChart.vue
  frontend/configs/dev/appConfigCharts.js
  frontend/configs/dev/appConfigData.js
  frontend/nuxt.config.js
Labels: bug, enhancement, front

#58 Julien/buttonposition
  frontend/components/DataViews/Numbers.vue
  frontend/components/UX/GlobalButtons.vue
  frontend/configs/dev/appConfigGlobalButtons.js
  frontend/configs/dev/appConfigNumbers.js
  frontend/configs/dev/appConfigRoutes.js
Labels: enhancement, front

#59 Change last_update_data.txt location
  backend/json/aides/last_update_data.txt
  backend/json/generate-json.sh
  frontend/configs/dev/appConfigTexts.js
  frontend/configs/examples/covid-aides-entreprises/appConfigTexts.js
  scripts/gen-data-files.sh
Labels: data, enhancement

#61 Julien/geojsons1000m
  frontend/configs/dev/appConfigMap.js
  static-data/aides/prod/aides-maille-departemental-minify.json
  static-data/aides/prod/aides-maille-departemental.json
  static-data/aides/prod/aides-maille-national-minify.json
  static-data/aides/prod/aides-maille-national.json
  static-data/aides/prod/aides-maille-regional-minify.json
  static-data/aides/prod/aides-maille-regional.json
  static-data/aides/prod/last_update_data.txt
  static-data/aides/prod/sectionape/aides-maille-departemental-minify.json
  static-data/aides/prod/sectionape/aides-maille-national-minify.json
  static-data/aides/prod/sectionape/aides-maille-national.json
  static-data/aides/prod/sectionape/aides-maille-regional-minify.json
  static-data/aides/prod/sectionape/aides-maille-regional.json
  static-data/geodata/centers.json
  static-data/geodata/departements-1000m.geojson
  static-data/geodata/departements-100m.geojson
  static-data/geodata/regions-1000m.geojson
  static-data/geodata/regions-100m.geojson
  static-data/prod/aides/aides-maille-departemental-minify.json
  static-data/prod/aides/aides-maille-departemental.json
  static-data/prod/aides/aides-maille-national-minify.json
  static-data/prod/aides/aides-maille-national.json
  static-data/prod/aides/aides-maille-regional-minify.json
  static-data/prod/aides/aides-maille-regional.json
  static-data/prod/aides/last_update_data.txt
  static-data/prod/last_update_data.txt
  static-data/prod/pge/last_update_data.txt
  static-data/prod/pge/pge-maille-departemental-minify.json
  static-data/prod/pge/pge-maille-departemental.json
  static-data/prod/pge/pge-maille-national-minify.json
  static-data/prod/pge/pge-maille-national.json
  static-data/prod/pge/pge-maille-regional-minify.json
  static-data/prod/pge/pge-maille-regional.json
  static-data/prod/report/last_update_data.txt
  static-data/prod/report/report-maille-departemental-minify.json
  static-data/prod/report/report-maille-departemental.json
  static-data/prod/report/report-maille-national-minify.json
  static-data/prod/report/report-maille-national.json
  static-data/prod/report/report-maille-regional-minify.json
  static-data/prod/report/report-maille-regional.json
  static-data/prod/taxonomies/classes-effectifs-minify.json
  static-data/prod/taxonomies/classes-effectifs.json
  static-data/prod/taxonomies/departements-minify.json
  static-data/prod/taxonomies/departements.json
  static-data/prod/taxonomies/nafs-minify.json
  static-data/prod/taxonomies/nafs.json
  static-data/prod/taxonomies/regions-minify.json
  static-data/prod/taxonomies/regions.json
  static-data/prod/taxonomies/sections-naf-minify.json
  static-data/prod/taxonomies/sections-naf.json
Labels: enhancement, front, optimisation

#64 optimize build
  frontend/VERSIONS.md
  frontend/assets/css/fontawesome.scss
  frontend/assets/css/main.scss
  frontend/assets/css/materialdesign.scss
  frontend/components/UI/Logo.vue
  frontend/components/UI/VuetifyLogo.vue
  frontend/components/UX/NavbarFooter.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/plugins/vuetify.js
Labels: code, enhancement, front, optimisation

#82 update in text
  frontend/components/DataViews/ApexChart.vue
  frontend/configs/dev/appConfigCharts.js
  frontend/configs/dev/appConfigTexts.js
Labels: documentation, front

#91 more on overview docs
  docs/_posts/2020-05-01-history.md
  docs/_posts/2020-05-01-overview.md
  docs/index.html
Labels: documentation

#92 more on overview docs
  docs/_posts/2020-05-01-history.md
  docs/_posts/2020-05-01-overview.md
  docs/index.html
Labels: documentation
